.faixa-logo{
    display:flex;
    justify-content: center;
    /*position: fixed;*/
}
.faixa-inicial{
    border:1px solid red;
    height: 500px;
}
#logo1{
    margin-top:5px;
    width: 150px;
    height: 150px;
}
#logo2{
    width: 100px;
    height: 100px;
}
